[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MAP"]
	path = MAP
	url = https://github.com/celehs/map
[submodule "MUGS"]
	path = MUGS
	url = https://github.com/celehs/mugs
[submodule "PheCAP"]
	path = PheCAP
	url = https://github.com/celehs/phecap
[submodule "PheNorm"]
	path = PheNorm
	url = https://github.com/celehs/phenorm
[submodule "SAMGEP"]
	path = SAMGEP
	url = https://github.com/celehs/samgep
[submodule "SCORNET"]
	path = SCORNET
	url = https://github.com/celehs/scornet
[submodule "kesernetwork"]
	path = kesernetwork
	url = https://github.com/celehs/kesernetwork
[submodule "phecodemap"]
	path = phecodemap
	url = https://github.com/celehs/phecodemap
[submodule "sureLDA"]
	path = sureLDA
	url = https://github.com/celehs/surelda
